extends ../../templates/layout

block vars
  - var title = "Contribute to Hello Saint John"
  - var description = "Ways to contribute ideas and content to Hello Saint John."
  - var bodyClass = "contribute"
  - var pagePath = "contribute"

block content

  .flex-container
    .flex-1of2
      .content.pale-blue.text-drk
        h2 Contribute
        p We’re sure there’s awesome stuff we’ve missed (or haven’t even heard of yet). Contribute and help us make our site even better.
        h3 Submit an idea

        form(name="contribute", method="POST", data-netlify="true", netlify-honeypot="bot-field", action="/thanks")
          ul
            li
              label.desc(for="name") Name
              input.field.text(id="name", name="name", type="text", placeholder="Sam Alexander")
            li
              label.desc(for="email") Email
              input.field.text(id="email", name="email" type="email", placeholder="info@hellosaintjohn.ca")
            li
              label.desc(for="twitter") Twitter
              input.field.text(id="twitter", name="twitter", type="text", placeholder="@nova_prime_az")
            li
              label.desc.required(for="message") Message
              textarea.field.textarea(id="message", name="mesasge", type="textarea", rows="3", placeholder="You won’t believe this...", required)
            li.buttons
              input.button.btTxt.submit(id="submit", type="submit", value="Send")
            li.hide
              label(for="bot-field") Do not fill this out
              input.field.text(id="bot-field", name="bot-field", type="text")

    .flex-1of2
      .content.navy-blue.text-light
        h3 Or contribute on GitHub
        p Submit an <a href="https://github.com/paullydca/whysj/issues">issue</a> or a pull request. Please see the <a href="https://github.com/paullydca/whysj/#contributing">contribution guidelines</a>.

